<header>
	<button class="back" (click)="routeToHomePage()">
		<img src="/assets/back.svg">
	</button>
	<span>About Game</span>
</header>
<main>
	Lorem ipsum dolor sit amet consectetur adipisicing elit.
	Repellat laboriosam labore deleniti placeat, vero possimus.
	Iusto consequuntur odit possimus nihil sint magni in quae, corporis vel.
	Dolore soluta ratione voluptatibus, eius sit dolorum distinctio libero
	adipisci esse deserunt quo voluptatem laboriosam impedit repellendus et
	eos temporibus, ullam cupiditate, id eligendi earum exercitationem ducimus!
	Sit laboriosam ab repellendus, nulla atque, a odio tempore voluptatum nemo
	delectus nostrum! Totam eius animi odit dolorem amet quod sapiente asperiores
	voluptatum accusantium quia mollitia atque corporis esse odio sed modi neque,
	eos recusandae fugit? Delectus repellat ex laborum obcaecati! Esse ad cum maiores!
	Illum sint ducimus, aspernatur nisi et vero sequi aut rem doloribus magnam
	exercitationem atque rerum, similique tempore debitis nostrum inventore est
	quae enim veritatis! Magni eum molestias voluptatum iste nihil dolor recusandae
	vel obcaecati inventore minus qui tempore dolore eligendi nesciunt aperiam quidem
	facere fugit, modi quasi totam deserunt voluptates est cupiditate? Impedit minima
	voluptatum iusto asperiores suscipit vitae doloribus ipsam hic excepturi voluptas qui
	a, explicabo nobis soluta cumque eius magni quos expedita inventore molestias,
	et nostrum iste? Voluptatum aspernatur quibusdam ratione voluptatibus velit!
</main>
