<p>This is how the beginning of the game looks like - this is a field of 10 * 10. </p>
<img src="/assets/board.png" alt="">
<p>To start the game, click on any cell of the field.</p>
<p>Notice how the next move is highlighted. This will be your every move.
	You cannot click on any cells other than the highlighted ones.</p>
<img src="/assets/start.png" alt="">
<p>Be careful not to get stuck, otherwise the game will end for you.</p>
<img src="/assets/lose.png" alt="">
<p>If this happens, press the refresh button</p>
<img src="/assets/refresh.png" class="refresh">
<p class="finish">The goal of the game is to fill in all the cells.
	The entire field will turn yellow and on the last pressed cell you will see the number 100.<br><br>
	GOOD LUCK!</p>
