<input type="text" placeholder="Беларусь, Минск">
<section class="main-information">
	<div class="temperature-today">
		<span>19°</span>
		<p>Ясно</p>
	</div>
	<div class="feelings-today">
		<img src="/assets/sun.svg" alt="sun">
		<span>Ощущается как 21°</span>
	</div>
</section>
<section class="extension-information">
	<div>
		<img src="/assets/daytime 1.svg" alt="sunrise">
		6:52
	</div>
	<div>
		<img src="/assets/sunset 1.svg" alt="sunset">
		19:41
	</div>
	<div>
		<img src="/assets/meteorology 1.svg" alt="windiness">
		14 км/ч
	</div>
	<div>
		<img src="/assets/meteorology 1.svg" alt="rain">
		11%
	</div>
	<div>
		<img src="/assets/sunny 1.svg" alt="ultraviolet">
		UV:3
	</div>
	<div>
		<img src="/assets/sky 1.svg" alt="humidity">
		17%
	</div>
</section>
