:host {

	display: flex;
	flex-direction: column;

	header {
		display: flex;
		align-items: center;
		margin-top: 5%;
		justify-content: space-around;

		.startNewGame {
			cursor: pointer;
			display: flex;
			margin-top: 1%;
			margin-bottom: 1%;
			padding: 0.5%;

			border: 2px solid rgb(8, 85, 92);
			border-radius: 10px;
			box-shadow: 0px 0px 23px 0px rgb(2, 33, 36);
			background: none;

			outline: none;
			font-size: 20px;
			color: rgb(5, 55, 59);

			&:hover {
				background-color: #1fcaca42;
			}

			&:active {
				background-color: #24e0e0bd;
			}
		}

		.rules {
			background: none;
			border: none;

			border-radius: 10px;
			box-shadow: 0px 0px 4px 0px #013131;
			padding: 1%;
		}
	}


	//button

	section {
		display: grid;
		// width: 600px;
		// height: 600px;

		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		justify-content: center;
		padding-top: 15px;

		border: 3px solid rgb(8, 85, 92);
		border-radius: 10px;
		box-shadow: 0px 0px 23px 0px rgb(2, 33, 36);

		grid-template-columns: 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw;
		grid-template-rows: 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw;
		// grid-template-columns: 53px 53px 53px 53px 53px 53px 53px 53px 53px 53px;
		// grid-template-rows: 53px 53px 53px 53px 53px 53px 53px 53px 53px 53px;
		// gap: 6px;
	}

	//section

	span {
		position: fixed;
		text-transform: uppercase;
		font-size: 100px;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	//span
}

@media (max-width: 640px) {
	:host {

		header {
			.startNewGame {
				padding: 1%;
				margin-top: 5%;
				margin-bottom: 5%;

				border-color: black;
			}
		}

		section {
			// width: 95vw;
			// height: 80vh;

			border: none;
			box-shadow: none;

			grid-template-columns: repeat(10, 8.5vw);
			grid-template-rows: repeat(10, 8.5vw);
			gap: 1vw;
		}


	}

	//section


}

//:host
