/* You can add global styles to this file, and also import other style files */
html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	background: radial-gradient(circle, rgba(135, 180, 180, 0.76) 54%, rgba(13, 189, 210, 1) 100%);
}

p,
span,
button,
header,
img {
	padding: 0;
	margin: 0;
}
