:host {
	display: block;

	background-color: #EAEAEA;
	cursor: pointer;
	width: 100%;
	height: 100%;
	// margin-bottom: 6px;

	font-family: SF Pro Display;
	font-weight: 600;
	font-size: 20px;
	line-height: 19px;
	letter-spacing: -0.3px;
	color: #FFFFFF;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 4px;

	&:hover {
		background-color: #419999;
	}
}
