<header>
	<img src="/assets/refresh.svg" (click)='startNewGame()'>
	<!-- <button class="rules" (click)="mainLogicService.routeToAboutPage()"><img src="/assets/question.svg" alt=""></button> -->

</header>
<section>
	<ng-container *ngFor="let row of cells">
		<app-cell *ngFor="let cell of row" [x]="cell.x" [y]="cell.y" [serialNumber]="cell.counterValue"
			[isActive]="cell.isActive" (click)='mainLogicService.onCellClick(cell.x, cell.y)'></app-cell>
	</ng-container>
</section>
<span> {{ mainLogicService.title }} </span>
